*
{
	margin: 0;
	padding:0;

}
.row
{
	max-width:1140px;
	margin:0-auto;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;



}

.hero{ 
  
  position:absolute;
  width: 1140px;
  top:50%;
  left:40%;
  transform: translate(-50%,-50%);
  
  
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("better.jpg");
    height: 100vh;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
}
h1
{
	color: white;

}
.main-nav{
	list-style: none;
	float: right;
	margin-top: 60px;
	margin-left: 200px;
}
.main-nav li{
	display: inline-block;
	margin-left: 20px;

}
.main-nav li a{
	color: white;
	text-decoration: none;
	font-size:90%; 
	font-weight:bold;
	
}
.main-nav li a:hover
{
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
	transition: all 0.5s ease-in;
	padding: 15px 0;

}

.logo img
{
	height:100px;
	float: left;
	margin-top:30px;
	margin-left:40px;
}
.btn
{
	border:1px solid #e67e22;
	padding: 10px 30px;
	color: #e67e22;
	text-decoration: none;
	border-radius: 12px;
	margin-right: 15px;


}
.button-awesome{
	margin-top: 40px;
}
.btn-half
{
	background-color: #e67e22;
	color: white;

}
.btn-full:hover
{
	background-color: #e67e22;
	color: white;
	transition: all 0.5s ease-in;

}
.copy
{
	width: 90%;
	margin-left: 30%;
	margin-bottom: 20px;

}
 h3:after
{

	width:100px;
	height: 4px;
	color: white;
	display: block;
	content: '';
	margin:0 auto;
	margin-top: 30px;
	margin-left: 30px;
}
.container{
	margin-left: 450px;
	padding: 15px;

}
.features h3
{ 
	margin-top: 70px;
	margin-bottom: 20px;

}

.features i
{
	font-size: 40px;
	color: #e67e22;
	margin-left:35%;
}
.arrange
{
	text-align: justify;

}
.features h4
{
	margin-left: 30px;
    color: #e67e22;
}

.search {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-left:450px;
  margin-bottom: 20px;
}
.searchTerm {
  width: 30%;
  border: 3px solid #e67e22;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #fff;
}

.searchButton {
  width: 100px;
  height:50px;
  border: 1px solid #e67e22;
  background: #e67e22;
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
}

.restaurant{
	padding: 10px;
}
 {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px; margin-bottom: 10px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.meal-show{
	width: 100%;

}
.meal-show li{
	display: block;
	width: 25%;
	float: left;

}
.meal-photo{
	width: 100%;
	margin:0;
	overflow: hidden;
}
.meal-photo img{
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition:all 0.5s;
}
.meal-photo img:hover{
	transform: scale(1.05);
}
.meal{
	margin-top: 80px;

}
.pic img{
	width: 70%;
	margin-left: 30%;
	margin-top: 50px;
}
.work-steps{
	margin-top: 50px;
}
.work-steps div{
	border:1px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	width: 50px;
	height:50px;
	line-height: 40px;
	text-align: center;
	background:#e67e22;
	color: white;

}
.work-steps img{
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;
}
.clearfix{

	zoom:1;

}
.clearfix after{
	visibility: hidden;
	content:"";
	height: 0;
	display: block;
	clear:both; 
}
.mobile{
	margin-top: 40px;

}
 
footer {
    background-color: #333;
    padding: 25px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-of-type,
.footer-nav li:last-of-type {
    margin-right: 0;
}

.social-links li a:link,
.footer-nav li a:link,
.social-links li a:visited,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}